<!-- <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BMO</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="#" class="nav-link" routerLinkActive="active">By Film</a></li>
          <li><a routerLink="#" class="nav-link" routerLinkActive="active">By Cinema</a></li>
          <li><a routerLink="movies" class="nav-link" routerLinkActive="active">List Movies</a></li>
        </ul>
      </li>
    </ul>

</nav> -->


<!-- <nav class="navbar navbar-expand-sm ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Buy Ticket
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="buy-ticket-by-film" class="nav-link" routerLinkActive="active">By Film</a></li>
        <li><a routerLink="#" class="nav-link" routerLinkActive="active">By Cinema</a></li>
      </ul>
    </li>
  </ul>
</nav> -->
<a routerLink="create-movie" class="nav-link" routerLinkActive="active">Add Employee</a>
Buy Ticket
<a routerLink="buy-ticket-by-film" class="nav-link" routerLinkActive="active">By Film</a>
<a routerLink="#" class="nav-link" routerLinkActive="active">By Cinema</a>



<div class="container-fluid">
  <br>
  <!-- <h2 style="text-align: center;">{{title}}</h2> -->
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
